@charset "UTF-8";

/* ---- body ------------------------------------------------------- */
BODY		{ 	font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
				color: black;
				background-color: #C1D4F7; /* light blue */
				text-align: justify;
				margin-top: 2em;
				margin-left: 2em;
				margin-right: 2em;
				margin-bottom: 2em; }

/* ---- links ------------------------------------------------------ */
A:link			{ color: #002071 }
A:active		{ color: red }
A:visited		{ color: #5E86CE }
A:hover   		{ color: #002071; background-color: #FFE44F }
A.NoHover:hover { color: black; background-color: transparent }

/* ---- Headers --------------------------------------------------- */
H1				{ font-size: XX-large;
				  color: #002071;
				  text-align: left; }
H2				{ font-size: large;
				  color: #002071;
				  text-align: left;
				  margin-top: 2em;
				  font-style: italic }
H3				{ font-size: medium;
				  color: black;
				  text-align: left;
				  margin-top: 1.5em; }

/* ---- Paragraph ------------------------------------------------- */
P				{ text-indent: 0.8em }
P:first-letter 	{ font-size: 150%; }

/* ---- TT: only used during translation -------------------------- */
TT				{ color: red;
				 font-size: 150%;
				 background-color: yellow }

/* ---- Table ----------------------------------------------------- */
TABLE.XMLDescription	{ width: 100%;
				  text-align: left;
				  border-width: thin;
				  border-style: solid;
				  border-color: black; }
				  
TD				{ padding-top: 0.5em;
				  padding-left: 0.5em;
				  padding-right: 0.5em;
				  padding-bottom: 0.5em; }
				  
TD.Tilte		{ text-align: center;
				  font-weight: bold;
				  vertical-align: top;
				  width: 6em;
				  background-color: #B0CAFD; }

TH				{ text-align: center;
				  font-weight: bold;
				  vertical-align: top;
				  width: 6em;
				  background-color: #B0CAFD; }				 

TD.XMLCode		{ font-family: monospace;
				  font-weight: bold; }

TD.Shortcut		{ padding-top: 0em;
				  padding-left: 0.5em;
				  padding-right: 0.5em;
				  padding-bottom: 0em; }

/* ---- span ----------------------------------------------------- */
span.path		{ font-variant: small-caps;
			  	  font-weight: bold;
			 	  background-color: #CCCCCC }

span.Important	{font-variant: small-caps;
				 font-weight: bold;
				 color: #6A1AFF }

span.RefNumber	{font-family: Arial, Sans-Serif;
				 font-weight: bold;
				 background-color: #000000;
				 color: #FFFFFF }
span.RefNumber:before {	content: url(LeftRefNumber.png); 
						background-color: #C1D4F7;
						vertical-align: -19% }
span.RefNumber:after { content: url(RightRefNumber.png);
						background-color: #C1D4F7;
						vertical-align: -19%; }
				 

/* ---- hr -------------------------------------------------------- */
HR			{ 	width: 80%;
				background-color: #A0FBD0 }

/* ---- Special DIV ----------------------------------------------- */
DIV.LegalNotice	{ text-align: center;
				  border-width: thick;
				  border-style: groove;
				  border-color: red;
				  padding-top: 1em;
				  padding-left: 1em;
				  padding-right: 1em;
				  padding-bottom: 1em; }
				  
DIV.DocAuthor	{ text-align: center;
				  font-weight: bold; }
				  
DIV.TechNote	{ width: 80%;
				  margin-left: 10%;
				  margin-right: 10%;
				  text-align: left;
				  border-width: thin;
				  border-style: dotted;
				  border-color: black;
				  padding-top: 1em;
				  padding-left: 1em;
				  padding-right: 1em;
				  padding-bottom: 1em;
				  background-color: #E8E8E8;
				  font-family: monospace; }

DIV.ToTranslate { background-color: yellow; }
